/firmware/uart_comm.X/nbproject/private/
/firmware/uart_comm.X/build/default/
/firmware/uart_comm.X/dist/default/
/firmware/uart_comm.X/i2c_comm.X/nbproject/private/
/firmware/i2c_comm.X/nbproject/private/
/firmware/i2c_comm.X/build/default/
/firmware/i2c_comm.X/dist/default/