/firmware/uart_comm.X/nbproject/private/
/firmware/uart_comm.X/build/default/
/firmware/uart_comm.X/dist/default/
/firmware/uart_comm.X/i2c_comm.X/nbproject/private/
/firmware/i2c_comm.X/nbproject/private/
/firmware/i2c_comm.X/build/default/
/firmware/i2c_comm.X/dist/default/
/firmware/test_completo.X/nbproject/private/
/firmware/test_completo.X/dist/default/
/firmware/test_completo.X/build/default/
/firmware/test_timer.X/nbproject/private/
/firmware/test_timer.X/dist/default/
/firmware/test_timer.X/build/default/
/firmware/test_uart_i2c.X/nbproject/private/
/firmware/test_uart_i2c.X/build/default/
/firmware/test_uart_i2c.X/dist/default/
/firmware/prova_usart_forse.X/nbproject/private/
/firmware/prova_usart_forse.X/build/default/
/firmware/prova_usart_forse.X/dist/default/